{% load i18n %}

{% block subject %}
{% blocktrans %}Активация аккаунта на RICE{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Вы получили это письмо, потому что вам нужно завершить активацию аккаунта на RICE.{% endblocktrans %}

{% trans "Пожалуйста, перейдите по ссылке ниже для активации аккаунта:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Спасибо за использование нашего сайта!" %}

{% blocktrans %}Команда RICE{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<h2>{% blocktrans %}Активация аккаунта на {{ site_name }}{% endblocktrans %}</h2>
<p>
    {% blocktrans %}Вы получили это письмо, потому что вам нужно завершить активацию аккаунта на {{ site_name }}.{% endblocktrans %}
</p>
<p>
    {% blocktrans with domain=domain url=url|safe %}
    Пожалуйста, перейдите по <a href="{{ protocol }}://{{ domain }}/auth/{{ url }}">ссылке</a> для активации аккаунта:
    {% endblocktrans %}
</p>
<p>{% trans "Спасибо за использование нашего сайта!" %}</p>
<p>{% blocktrans %}Команда RICE{% endblocktrans %}</p>
{% endblock html_body %}